## Analisis Teks - Bagian 1

Untuk datasets dapat diunduh di http://archive.ics.uci.edu/ml/datasets.php

In [1]:
#memasukan modul yang digunakan
import pandas as pd

In [2]:
#encode('utf-8')
letak_data = 'C:/WinPython_64bit/notebooks/8. BELAJAR DATA SCIENCE/sms-spam-collection-dataset/spam.csv'
letak_data.encode('utf-8')

b'C:/WinPython_64bit/notebooks/8. BELAJAR DATA SCIENCE/sms-spam-collection-dataset/spam.csv'

In [3]:
#membuka letak_data untuk melihat encode
open(letak_data)

In [4]:
#membuka 5 data pertama
data = pd.read_csv(letak_data, encoding='cp1252')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
#membuka 5 data terakhir
data.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
#mengambil kolom data yang dibutuhkan 
#dalam hal ini hanya kolom v1 dan v2
data = data.iloc[:,[0,1]]
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
#statistika deskriptif data
data.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [8]:
#melihat ukuran data
data.shape

(5572, 2)

In [9]:
#melihat jumlah data ham dan spam
data.v1.value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [10]:
#membuat kolom baru yang isinya kategori dari data yaitu ham : 0 dan spam : 1
#data['label_number'] = data.v1.map({'ham':0, 'spam':1})
data['label_number'] = data.v1.map({'ham':0, 'spam':1})

In [11]:
#melihat hasilnya
data.head()

     v1                                                 v2  label_number
0   ham  Go until jurong point, crazy.. Available only ...             0
1   ham                      Ok lar... Joking wif u oni...             0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...             1
3   ham  U dun say so early hor... U c already then say...             0
4   ham  Nah I don't think he goes to usf, he lives aro...             0

In [12]:
#membuat variabel dependen dan independen
X = data.v2 #data teks
y = data.label_number #target

In [13]:
#melihat ukuran data dependen
X.shape

(5572,)

In [14]:
#melihat ukuran data independen
y.shape

(5572,)

                                    ##Semoga Bermanfaat 
                                    ##@Raspiani_